.text-white {
    color: hsl(0, 0%, 100%);
    font-family: 'Alata', sans-serif;
}

.header-text-container {
    position: relative;
    z-index: 1;
    padding-top: 20vh;
    margin: 0 auto;
}

.header-text {
    margin: 0 4.5vh;
    padding: 2vh;
    text-align: left;
    vertical-align: middle;
    height: fit-content;
    border: 2px solid white;
    color: white;
    font-size: 6.5vh;
    font-family: 'Josefin Sans', sans-serif;
    line-height: normal;
}
