.text-white {
    color: hsl(0, 0%, 100%);
    font-family: 'Alata', sans-serif;
}

@media only screen and (max-width: 480px) {
    .header-text-container {
        position: relative;
        z-index: 1;
        padding-top: 50vh;
        margin: 0 auto;
    }
    
    .header-text {
        margin: 0 25px;
        padding: 20px;
        text-align: left;
        vertical-align: middle;
        height: fit-content;
        border: 2px solid white;
        color: white;
        font-size: 55px;
        font-family: 'Josefin Sans', sans-serif;
        line-height: normal;
    }
}

@media only screen and (min-width: 481px) {
    .header-text-container {
        position: relative;
        z-index: 1;
        padding-top: 200px;
        margin: 0 auto;
    }
    
    .header-text {
        margin: 0 25px;
        padding: 20px;
        text-align: left;
        vertical-align: middle;
        height: fit-content;
        border: 2px solid white;
        color: white;
        font-size: 55px;
        font-family: 'Josefin Sans', sans-serif;
        line-height: normal;
    }
}
