<!-- Footer -->
<footer class="page-footer center-align">
    
    <!-- Logo -->
    <div class="logo-div">
        <a class="navbar-brand text-white" href="#"><img src="assets/icons/logo.svg"/></a>
    </div>
    <!-- Logo -->
    
    <!-- Links -->
    <ul class="list-unstyled">
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Careers</a>
        </li>
        <li>
            <a href="#">Events</a>
        </li>
        <li>
            <a href="#">Products</a>
        </li>
        <li>
            <a href="#">Support</a>
        </li>
    </ul>
    <!-- Links -->
    
    <!-- Social Media Icons -->
    <div class="icons-div">
        <a href="#"><img class="icon-spacing" src="assets/icons/icon-facebook.svg"/></a>
        <a href="#"><img class="icon-spacing" src="assets/icons/icon-twitter.svg"/></a>
        <a href="#"><img class="icon-spacing" src="assets/icons/icon-pinterest.svg"/></a>
        <a href="#"><img class="icon-spacing" src="assets/icons/icon-instagram.svg"/></a>
    </div>
    <!-- Social Media Icons -->
    
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2021 Loopstudios. All rights reserved.
    </div>
    <!-- Copyright -->
    
</footer>
<!-- Footer -->