* {
    color: hsl(0, 0%, 100%);
    font-family: "Alata", sans-serif;
}

.icon-spacing {
    padding: 0 10px;
}

ul.list-unstyled>li>a {
    text-decoration: none;
}

.list-unstyled {
    line-height: 50px;
}

.icons-div {
    padding-top: 20px;
}

.logo-div {
    padding: 50px 0 30px 0;
}

.footer-copyright {
    color: hsl(0, 0%, 55%)
}