<div class="container-fluid">
    <div class="row">
        <div class="tag">
            <div class="mobile">
                <app-navbar></app-navbar>
                <app-header></app-header>
            </div>
            <div class="desktop">
                <app-navbar></app-navbar>
                <app-header></app-header>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="info">
            <img class="mobile info-mobile" src="assets/images/mobile/image-interactive.jpg"/>
            <img class="desktop info-desktop" src="assets/images/desktop/image-interactive.jpg"/>
        </div>
        <div class="center-align">
            <span class="titleStyle">{{leaderTitle}}</span> <br/><br/>
            <span class="leaderTextStyle">{{leaderText}}</span> 
        </div>
    </div>
</div>
