app-header {
    position: relative;
    z-index: 0;
}

.center-align {
    text-align: center;
}

.leaderTitleStyle {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: hsl(0, 0%, 41%);
    font-size: 35px;
    line-height: normal;
}

.leaderTextStyle {
    font-family: 'Alata', sans-serif;
    white-space: pre-line;
    font-weight: 300;
    color: hsl(0, 0%, 55%);
}