.creations-mobile-sizing {
    width: 80%;
    height: auto;
    margin-top: 10%;
}

// .creations-img {
//     background-position: center center !important;
//     background-repeat: no-repeat !important;
//     background-size: contain !important;
//     width: 80%;
//     height: 9em;
//     margin-left: 3em;
//     margin-top: 10%;
// }

// .curiosity {
//     background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.85) 100%), url('/assets/images/mobile/image-curiosity.jpg') no-repeat;
//     color: hsl(0, 0%, 100%);
//     font-size: 15px;
// }

// .deep-earth {
//     background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.85) 100%), url('/assets/images/mobile/image-deep-earth.jpg') no-repeat;
// }

// .from-above {
//     background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.85) 100%), url('/assets/images/mobile/image-from-above.jpg') no-repeat;
// }

// .grid {
//     background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.85) 100%), url('/assets/images/mobile/image-grid.jpg') no-repeat;
// }

// .night-arcade {
//     background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.85) 100%), url('/assets/images/mobile/image-night-arcade.jpg') no-repeat;
// }

// .pocket-borealis {
//     background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.85) 100%), url('/assets/images/mobile/image-pocket-borealis.jpg') no-repeat;
// }

// .soccer-team {
//     background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.85) 100%), url('/assets/images/mobile/image-soccer-team.jpg') no-repeat;
// }

// .fisheye {
//     background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.85) 100%), url('/assets/images/mobile/image-fisheye.jpg') no-repeat;
// }