<div class="center-align">
    <span class="titleStyle">{{creationsTitle}}</span> <br/><br/>
    <div class="col-sm-12">
        <img class="creations-mobile-sizing" src="assets/images/mobile/image-deep-earth.jpg">
        <img class="creations-mobile-sizing" src="assets/images/mobile/image-night-arcade.jpg">
        <img  class="creations-mobile-sizing" src="assets/images/mobile/image-soccer-team.jpg">
        <img class="creations-mobile-sizing" src="assets/images/mobile/image-grid.jpg">
        <img class="creations-mobile-sizing" src="assets/images/mobile/image-from-above.jpg">
        <img class="creations-mobile-sizing" src="assets/images/mobile/image-pocket-borealis.jpg">
        <img class="creations-mobile-sizing" src="assets/images/mobile/image-curiosity.jpg">
        <img class="creations-mobile-sizing" src="assets/images/mobile/image-fisheye.jpg">
        <!-- <div class="creations-img deep-earth">DEEP EARTH</div>
        <div class="creations-img night-arcade"></div>
        <div class="creations-img soccer-team"></div>
        <div class="creations-img grid"></div>
        <div class="creations-img from-above"></div>
        <div class="creations-img pocket-borealis"></div>
        <div class="creations-img curiosity"></div>
        <div class="creations-img fisheye"></div> -->
    </div>
</div>
